/*CSS Reset / Normalize*/
/* Hemos disponibilizado el básico de reset de estilos. Si quieren, añadan más informaciones 
en las secciones señaladas */
/*Já deixaremos o básico de reset de estilos. Caso queira adicionar mais informações
coloque nas sessões indicadas*/

:root{
    /* Inserta la variable de los otros colores inspeccionando el exemplo de figma */
    /*Se esforce para trabalhar com variáveis, é uma dica profissional valiosa*/
   --cor-de-fundo: #F5F5F5;
   --cor-de-link: #000;
}


body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding: 0;
}

ol, ul,li {
    list-style: none;
}
a{
    text-decoration: none;
    color: var(--cor-de-link);
}
.tudo {
    
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
}


/*En este desafío nosostros gustaríamos que ustedes intentaran utilizar la metodología BEM. 

Lo que es el BEM?

BEM (Bloque, Elemento, Modificador) es un enfoque basado en componentes para el 
desarrollo web. La idea detrás de esto es dividir la interfaz de usuario en bloques
independientes. Esto hace que el desarrollo de la interfaz sea fácil y rápido, incluso
con una interfaz de usuario compleja, y permite la reutilización del código existente sin copiar y pegar.

Enlace de la documentación oficial!
https://en.bem.info/methodology/quick-start/*/

/*Sección Menu*/
.menu__header {
    
    display: flex;
    align-items: center;
    padding: 10px 0;
  }
  
  .menu__title {
    font-size: 24px;
    font-weight: 500;
    margin-left: 10px;
  }
  
  .menu__list {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    padding: 20px 0;
  }
  
  .menu__list__item {
    margin-right: 10px;
  }
  
  .menu__list__item a {
    text-decoration: none;
    color: #333;
    padding: 5px 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  .menu__list__item a:hover {
    background-color: #333;
    color: #fff;
  }
.title__profile {
    width: 200px;
    height: 200px;
    position: absolute;
    top: 10px;
    left: 10px;
    
}


/*Sección Title*/

.title__container .title__bio{
    display: flex;
    justify-content: left;
    padding-left: 5%;
    padding-right: 5%;
   
}
.title__network{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
}

section.title{


}
.title__subsection{
    text-align: center;
    padding-left: 5%;
    padding-right: 5%;
    
    
}

/*Sección About*/

.about__container{
    
    
}
.about__container .about__paragraph{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 5%;
    padding-right: 5%;
    
}
.about__container .about__title{
    display: flex;
    align-items: center;
    justify-content: center;
}

section.about{

}

/*Seccion skills*/

.skills .skills__title{
    display: flex;
    align-items: center;
    justify-content: center;
}
.skills .skills__line{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
/*Sección Hobbies*/
.hobbies .hobbies__title{
    display: flex;
    align-items: center;
    justify-content: center;
}
.hobbies .hobbies__line{
    display: flex;
    align-items: center;
    justify-content: space-around;
    
}
section.hobbies{
    
}

/* Experiencia Académica*/
.academic .academic__title{
    display: flex;
    align-items: center;
    justify-content: center;
}
.academic .academic__courses{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

section.academic {
    
}


.academic__courses__item__img img {
    width: 100px; /* Cambia el valor según el tamaño deseado */
    height: auto; /* Ajusta la altura automáticamente para mantener la proporción */
  }
  

/* experiencia*/
.experience__info{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
}
.experience__info-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 40px;

}
section.experience{

}

/*Contacto*/

section.formcontato{

}

.formcontato {
    background-color: #fff;
    padding: 40px 0;
  }
  
  .formcontato__contacto {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .formcontato--esquerda {
    flex: 1;
  }
  
  .formcontato__img {
    max-width: 300px;
    height: auto;
    object-fit: cover;
  }
  
  .formcontato__text {
    flex: 1;
    padding: 20px;
  }
  
  .formcontato__title {
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 10px;
  }
  
  .formcontato__subtext {
    font-size: 16px;
    margin-bottom: 10px;
  }
  
  .formcontato__form {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
  }
  
  .formcontato__input,
  .formcontato__textarea {
    padding: 10px;
    margin-bottom: 10px;
    border: 4px solid #ccc;
    border-radius: 5px;
    resize: none;

  }
  
  .formcontato__botao {
    border: none;
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    height: 50px;
  }
  
  .formcontato__botao:hover {
    background-color: #0056b3;
  }
  
  .footer {
    background-color: #f0f0f0;
    padding: 20px 0;
    text-align: center;
  }
  
  .footer__rodape {
    font-size: 14px;
    color: #666;
  }
section.footer{
    
}


/* Vamos a desafiarnos trabajando con responsividad?
Utiliza las referencias de los breakpoints @media abajo */


@media screen and (max-width: 768px) {
    .menu__header {
      flex-direction: column;
      align-items: center;
    }
  
    .menu__title {
      margin-top: 10px;
    }
  
    .menu__list {
      justify-content: center;
    }
  
    .title__profile {
      width: 120px;
      height: 120px;
    }
  
    .title__bio {
      font-size: 20px;
    }
  
    .about__title,
    .skills__title,
    .hobbies__title,
    .academic__title,
    .experience__section__title {
      font-size: 20px;
      
    }
  
    .skills__line,
    .hobbies__line,
    .academic__courses,
    .experience__box {
      flex-direction: column;
      align-items: center;
      text-align: center;
    }
  
    .skills__box,
    .hobbies__box,
    .academic__courses__box {
      margin: 10px 0;
      
    }
  
    .skills__img,
    .hobbies__img {
      width: 50%;
      height: 50%;
    }
  
    .skills__name,
    .hobbies__name,
    .academic__courses__item__title,
    .experience__title,
    .experience__text {
      font-size: 14px;
    }
  
    .experience__img {
      width: 100%;
      max-width: 300px;
      height: auto;
    }
  
    .formcontato__img {
      max-width: 200px;
    }
  
    .formcontato__title,
    .formcontato__subtext {
      font-size: 20px;
    }
  
    .formcontato__input,
    .formcontato__textarea {
      padding: 5px;
    }
  
    .formcontato__botao {
      padding: 10px 15px;
    }
  
    .footer__rodape {
      font-size: 12px;
    }
  }
  